{% extends 'basic.html' %}
{% block title%} {{IPOName}}-Dashboard{% endblock %}
{% block css %}
{% load static %}
<style>
    * {
        padding: 0;
        margin: 0;
        {% comment %} font-family: sans-serif; {% endcomment %}

    }
    .navbar{
        padding: 0.5rem 0rem !important;
    }

    .h3,
        h3 {
            margin: 0px 0px;
            margin-top: 85px;
            font-size: 1.75rem;
            border-block-end: 3px solid #e9ecef;
        }

    .iponame {
            background-color: white;
            height: 38px;
            margin-top: 35px;
            width: 100%;
            text-align: center;
            position: fixed;
        }

    body {
        /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
        background-color: white;
        background-size: cover;
        color: rgb(19, 16, 16);
        justify-content: center;
        line-height: 1.5;
        margin-top: 84px;
        padding: 0 60px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .container h3 {
        display: flex;
        margin: 0;
        transform: translateY(-50%);
        background: #fff;
        color: black;
        border-block-end: 3px solid #e9ecef;
        width: 100%;

    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100%;
        margin-top: 0px;

    }

    .container-fluid {
        margin: 0px 0px;
    }

    .nav-tabs {
        border-bottom: none;
        margin: 0px 320px;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #e76d24;
        background-color: #fff;
        border-color: #e76d24;
        border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
        border-bottom: 3px solid orange;
    }

    .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: black;
    }

    .common-tabs .nav-tabs .nav-link.active {
        color: #e76d24;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom-color: rgb(243, 243, 243);
        border-bottom: 4px solid;
        font-weight: bold;
    }

    .modal-footer {
        border-top: none;
        border-bottom: 1px solid #dee2e6;
    }

    .table-bordered {
        border: 2px solid #0009;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #0009;
        border-bottom-width: 2px;
    }

    .table-bordered td,
    .table-bordered th {
        border: 1px solid #000;
        border-bottom-color: rgb(0, 0, 0);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    .tablecenter {
        text-align: center;
        width: 25%;
    }

    .tableline {
        width: 25%;
    }

    .tablelinel {
        width: 12.4%;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #686868;
        color: white;
        text-align: center;
        padding: 5px 0px;
    }

    .button {
        margin: 0px 10px;
        color: black;
        background-color: antiquewhite;
        width: auto;
    }   

    .btn-dark.disabled, .btn-dark:disabled {
        color: #000;
        background-color: #ffddaf;
        border-color: #040404;
    }
  
    @media (min-width: 992px) and (max-width: 1382px){
        .nav-tabs .nav-link {
            padding-right: 10px;
        }

        .nav-tabs {
            border-bottom: none;
            margin: 0px 139px;
        }

        .container {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            white-space: nowrap;
        } 

        {% comment %} .rl{
            margin-bottom: 50%;
        } {% endcomment %}
    }


    @media (min-width: 992px) and (max-width: 1151px){
        .fmc{
            margin-bottom: 14%;
        }
    }

    @media (min-width: 892px) and (max-width: 991px){
        .nav-tabs .nav-link {
            padding-right: 5px;
        }

        .nav-tabs {
            border-bottom: none;
            margin: 0px 70px;
        }

        .container {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            white-space: nowrap;
        } 

        {% comment %} .tbw{
            position: fixed;
        } {% endcomment %}

        .iponame {
            margin-top: 27px;         
        } 

        .fmc{
            margin-bottom: 16%;
        }
    }

    @media (min-width: 768px) and (max-width: 891px){
        .nav-tabs {
            border-bottom: none;
            margin: 0px 15px;
        }

        .container {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            white-space: nowrap;
        }  

        .fmc{
            margin-bottom: 20%;
        }
    }
    
    @media (max-width: 767px) { 
        body {
            padding-left: 15px;
            padding-right: 15px;
        }   
         
        .nav-tabs .nav-link {
            padding-right: 10px;
        }

        .container {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            white-space: nowrap;
        }

        .ac{
            margin-top: 16%;      
        }    

        .nav-tabs {
            border-bottom: none;
            margin: 0px -15px;
        }
    
        .footer{
            position: sticky;
            top: 100vh;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #686868;
            color: white;
            text-align: center;
            padding: 5px 0px;
            display: grid;
        }

        .button {
            margin: 0px 10px;
            color: black;
            background-color: antiquewhite;
            width: auto;
        }  

        .table{
            overflow-x: scroll;
            margin-bottom: 5%;
        }

        .iponame {
            margin-top: 52px;         
        }   
    }

   @media (min-width: 250px) and (max-width: 562px){
        .nav-tabs .nav-link {
            padding-right: 5px;
        }

        .nav-tabs {
            border-bottom: none;
            margin: 0px -30px;
        }

        .ac{
            margin-top: 20%;      
        } 
    }

   @media (min-width: 250px) and (max-width: 440px){
        .ac{
            margin-top: 23%;      
        } 
    }    
</style>
{% endblock %}


{% block body %}




<div>
    <h3 class="fixed-top iponame" style="z-index: 9; position: fixed;">{{IPOName}}</h3>
</div>

<div class="container ac fmc">
    <h4 style=" border-block-end: 3px solid #e9ecef;">Analysis</h4>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-xs-12 w-100">
                <nav>
                    <div class="container">
                        <div class="nav nav-tabs" name="value" role="tablist">
                            <form id="form-id" method="post" action="/{{IPOid}}/Dashboard/A">
                                {% csrf_token %}
                                <!-- <input type="hidden" name="value" value="A"></input> -->
                                <div class="nav-item nav-link active show" data-toggle="tab" type="button" role="tab"
                                    id="inlineRadio1" onclick="document.getElementById('form-id').submit();"
                                    aria-selected="false">Initial P&L Analysis</div>
                            </form>
                            <form id="form-id2" method="post" action="/{{IPOid}}/Dashboard/B">
                                {% csrf_token %}
                                <!-- <input type="hidden" name="value" value="B"></input> -->
                                <div class="nav-item nav-link" data-toggle="tab" role="tab"
                                    onclick="document.getElementById('form-id2').submit();" id="inlineRadio2"
                                    aria-selected="false">After Allotment P&L Analysis</div>

                            </form>
                            <form id="form-id3" method="post" action="/{{IPOid}}/Dashboard/C">
                                {% csrf_token %}
                                <!-- <input type="hidden" name="value" value="C"></input> -->
                                <div class="nav-item nav-link" data-toggle="tab" role="tab"
                                    onclick="document.getElementById('form-id3').submit();" id="inlineRadio3"
                                    aria-selected="true">After Listing</div>
                        </div>
                        </form>
                    </div>
                </nav>

            </div>
        </div>
    </div>
    <form action="/{{IPOid}}/DashboardForm/A" method="post" class="needs-validation" style="margin: 30px 0;" novalidate>
        {% csrf_token %}
        <div class="row mb-3">
            <label for="inputEmail3" class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-form-label"><b>Expecetd Retail Application&nbsp;<font
                        color="red">*</font></b></label>
            <div class="col-xl-7 col-lg-7 col-md-8 col-sm-7">
                <input type="text" name="ExpecetdRetailApplication" class="form-control" onfocus="this.select()"
                    maxlength="50" {% if ExpecetdRetailApplication is none %} value="2500000" {% else %}
                    value="{{ ExpecetdRetailApplication }}" {% endif %} id="inputEmail3" autofocus="autofocus"
                    onfocus="this.select()" maxlength="50"onkeypress="return event.charCode >= 48 && event.charCode <= 57" 
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..?)\../g, '$1');" /  required>
                <div class="invalid-feedback">
                    Please Enter Answer.
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputPassword3" class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-form-label"><b>Profit Margin (%)&nbsp;<font color="red">*
                    </font></b></label>
            <div class="col-xl-7 col-lg-7 col-md-8 col-sm-7">
                <input type="text" class="form-control" {% if ProfitMargin is none %} value="15" {% else %}
                    value="{{ ProfitMargin }}" {% endif %} id="inputPassword3" name="ProfitMargin"
                     oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..?)\../g, '$1');" / required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputEmail3" class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-form-label"><b>Spot Premium&nbsp;<font color="red">*</font>
                </b></label>
            <div class="col-xl-7 col-lg-7 col-md-8 col-sm-7">
                <input type="tel" value="{{Premium}}" class="form-control" name="Premium" id="inputEmail3" oninput="this.value = this.value.replace(/[^0-9.-]/g, '').replace(/(\--*)\-/g, '$1').replace(/(\..?)\../g, '$1');" / required>
            </div>
        </div>
        {% comment %} <br> {% endcomment %}
        <div class="modal-footer">
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </div>

    </form>

    <div class="table">
        <div class="table-responsive text-nowrap">
            <table id="bootstrapdatatable" class="table table-hover table-bordered">
                <thead>

                    <tr>
                        <th scope="col" class="tablecenter">Application For One Time</th>
                        <th scope="col" class="tablecenter">Avg Share Per Application</th>
                        <th scope="col" class="tablecenter">IPO Subscription</th>
                        <th scope="col" class="tablecenter">Ipo Price Per Share</th>

                    </tr>

                </thead>

                <tbody>
                    <tr>
                        <th class="tablecenter">
                            {{ApplicationFor1Time}}
                        </th>
                        <td class="tablecenter">
                            {{AvgShare}}
                        </td>
                        <td class="tablecenter">
                            {{NumberOfTimeIPO}}
                        </td>
                        <td class="tablecenter">
                            {{IpoPricePerShare}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive text-nowrap">
            <table id="bootstrapdatatable" class="table table-hover table-bordered">
                <thead>

                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="tablecenter">Without Profit Margin</th>
                        <th scope="col" class="tablecenter">With Profit Margin</th>
                    </tr>

                </thead>

                <tbody>
                    <tr>
                        <th style="width: 16.7%;" class="tablecenter">
                            Kostak Rate
                        </th>
                        <td class="tablecenter" >
                            {{BaseKostakRate}}
                        </td>
                        <td class="tablecenter">
                            {{kostakRateForCustomer}}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 16.7%;" class="tablecenter">
                            Subject Rate
                        </th>
                        <td class="tablecenter">
                            {{BaseSubjectToRate}}
                        </td>
                        <td class="tablecenter">
                            {{SubjectToRateForCustomer}}
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div class="table-responsive text-nowrap">
            <table id="bootstrapdatatable" class="table table-hover table-bordered">
                <thead>

                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="tablecenter">Count</th>
                        {% comment %} <th scope="col" class="tablecenter">Avg Rate</th> {% endcomment %}
                    </tr>

                </thead>

                <tbody>
                    <tr>
                        <th class="tableline tablecenter">
                            Net Kostak Purchase
                        </th>
                        <td class="tablecenter" data-toggle="tooltip" data-placement="auto" title="BUY:{{CountofBUYKostak}}     SELL:{{CountofSELLKostak}}">
                            {{CountOfKostak}}
                        </td>
                        {% comment %} <td class="tablecenter">
                            {{KostakAvg}}
                        </td> {% endcomment %}
                    </tr>
                    <tr>
                        <th class="tableline tablecenter">
                            Net Subject To Purchase
                        </th>
                        <td class="tablecenter" data-toggle="tooltip" data-placement="auto" title="BUY:{{CountofBUYSubjectTo}}     SELL:{{CountofSELLSubjectTo}}">
                            {{CountOfSubjectTo}}
                        </td>
                        {% comment %} <td class="tablecenter">
                            {{SubjectToAvg}}
                        </td> {% endcomment %}
                    </tr>
                    <tr>
                        <th class="tableline tablecenter">
                            Net Premium Purchase
                        </th>
                        <td class="tablecenter" data-toggle="tooltip" data-placement="auto" title="BUY:{{TotalBuyPremiumShareQty}}     SELL:{{TotalSellPremiumShareQty}}">
                            {{CountOfPremium}}
                        </td>
                        {% comment %} <td class="tablecenter">
                            {{SubjectToAvg}}
                        </td> {% endcomment %}
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive text-nowrap">
            <table id="bootstrapdatatable" class="table table-hover table-bordered">
                <thead>

                    <tr>
                        <th scope="col" style="width: 16.7%;"></th>
                        <th scope="col" class="tablecenter">Kostak + Subject To</th>
                        <th scope="col" class="tablecenter">Premium</th>
                    </tr>

                </thead>

                <tbody>
                    <tr>
                        <th style="width: 16.7%;" class="tablecenter">
                            Share Purchase Qty
                        </th>
                        <td class="tablecenter">
                            {{KostakShareQty}}
                        </td>
                        <td class="tablecenter">
                            {% if TotalBuyPremiumShareQty is none %} 0 {% else %} {{TotalBuyPremiumShareQty}} {%endif %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 16.7%;" class="tablecenter">
                            Share Sell Qty
                        </th>
                        <td colspan="2" class="tablecenter">
                            {% if TotalSellPremiumShareQty is none %} 0 {% else %} {{TotalSellPremiumShareQty}} {%endif %}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>



        <div class="table-responsive text-nowrap">
            <table id="bootstrapdatatable" class="table table-hover table-bordered">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th class="tablelinel">
                            Differene Qty (To Hedge)
                        </th>
                        <td class="tablecenter">
                            {{DiffereneQty}}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
               
    </div>
</div>
<br>
<br> 

    <div class="footer">
        {% comment %} <a href="/{{IPOid}}/SetRate" class="btn button btn-dark"><span>Set Rate</span></a> {% endcomment %}
        <a href="/{{IPOid}}/BUY" class="btn button btn-dark"><span>BUY</span></a>
        <a href="/{{IPOid}}/SELL" class="btn button btn-dark"><span>SELL</span></a>
        <a href="/{{IPOid}}/Order" class="btn button btn-dark"><span>Orders</span></a>
        <a href="/{{IPOid}}/OrderDetail/BUY" class="btn button btn-dark" style="white-space: nowrap;"><span>App.-Buy Order Detail</span></a>
        <a href="/{{IPOid}}/OrderDetail/SELL" class="btn button btn-dark" style="white-space: nowrap;"><span>App.-Sell Order Detail</span></a>
        <a href="/{{IPOid}}/Billing" class="btn button btn-dark"><span>Client Wise Billing</span></a>
        <a href="/{{IPOid}}/Status" class="btn button btn-dark"><span>Group Wise Billing</span></a>
        <a href="/{{IPOid}}/Dashboard/A" class="btn button btn-dark disabled"><span>Analysis</span></a>
        <!-- <a href="PremiumBilling" class="btn button btn-dark" style="white-space: nowrap;"><span>Premium Billing</span></a> -->
    </div>
<!-- JAVASCRIPT FOR ADDGROUP FORM VALIDATION -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>

{% endblock %}